@import url('/fonts/Cinzel/Cinzel-VariableFont_wght.ttf');
@import url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
}

.navbar a:not(.donate-link)::after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 2.5px; 
    background-color: rgb(16, 100, 16); 
    left: 0;
    bottom: 0; 
    transform: scaleX(0);
    transition: transform 0.5s ease; 
}

.navbar a:not(.donate-link):hover::after { 
    transform: scaleX(1); 
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    margin-right: 70px;
    position: relative;
    color: inherit;
    padding-bottom: 5px;
}

.logo {
    height: 100px;
}

.header {
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.donate {
    background-color: rgb(247, 16, 16);
    border-style: solid;
    border-color: rgb(236, 9, 9);
    height: 40px;
    width: 120px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: white;
}

.donate:hover {
    color: black;
    cursor: pointer;
}

.donate:active {
    background-color: rgb(16, 100, 16);
    border: none;
}

.color-top {
    background-color: rgb(16, 100, 16);
    width: 100%; 
    height: 25px; 

}

.moving-text {
    margin-top: 2px;
}

.text-top {
    font-family: "Bebas_Neue", serif;
    font-size: 14px;
    color: white;
}