* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 8px; /* Set scrollbar width */
    height: 8px; /* Set scrollbar height for horizontal scroll */
  }
  
  html::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the scrollbar track */
    border-left: 1px solid black;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scroll thumb */
  }
