* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh;       
    margin: 0;
    background: linear-gradient(to bottom right, #ffcccc, #ccffff);   
}

.wrapper {
    width: 98vw;
    height: 95vh;
    border-radius: 50px;
    background-color: rgb(243, 239, 239);
    display: flex;
    border: solid 1px black;
}

.other-wrapper {
    height: 100%;
    width: 85%;
    border-radius: 0 50px 50px 0;
    display: flex; 
    flex-direction: column;
}

.header {
    box-sizing: border-box;
    width: 100%;
    height: 7.5%;
    border-radius: 0 50px 0 0;
    font-size: .8rem;
    display: flex;
    align-items: center;
    border-bottom: 3px gray solid;
}

.header h1 {
    padding-left: 3%;
}

/*copy until this*/

.table-wrapper {
    height: 70%;
    width: 100%;
    margin: 0 auto;
}

.table {
    height: 100%;
    width: 95%;
    border: solid 2px black;
    margin: 0 auto;
    margin-top: none;
    background-color: white;
    overflow: auto; 
}

.table table {
    width: 100%;
    height: auto;
}

.table th {
    background-color: #4CAF50;
    color: black; 
    padding: 12px;
    height: 20px;
    text-align: left;
    border: solid 1px black;
    position: sticky;
    top: 0;
}

.table td {
    padding: 1% 1% 1% 1%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: .9rem;
    max-width: 200px;
}

.recover {
    background-color: greenyellow;
    box-shadow: 1px 1px 1px 1px black;
    border: 1px black solid;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word; /* Allows words to wrap onto the next line */
    word-break: break-word; /* Breaks long words to fit within cell */
    white-space: normal;   /* Enables wrapping at word boundaries */
    line-height: 1.5;
}

.table img {
    height: 100%;
    width: 100%;
    margin: 1px;
}

/*sort*/

.form-sort {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 1% 0 .5% 0;
}

.sort-container{ 
    width: 50%;
    height: 4%;
    margin: 0 auto;
    margin-bottom: .5%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.sort-container label {
    font-weight: bold;
    margin-right: 1%;
}

.sort-container select {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin-right: 1%;
}

.sort {
    background-color: gray;
    box-shadow: 1px 1px 1px 1px black;
    border: 1px gray solid;
    color: white;
    cursor: pointer;
    width: 7%;
}

.search-container {
    width: 40%;
    height: 31px;
    margin: 0 auto;
    margin-bottom: .5%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.search {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    border: black solid 1px;
    padding-left: 10px;
}

.search-container label {
    margin-right: 2%;
}

.search-container button {
    margin-left: 1%;
    color: white;
    background-color: green;
    cursor: pointer;
    height: 70%;
    width: 10%;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: rgb(6, 68, 6);
}

.search:focus {
    box-shadow: 0 0 5px rgba(0, 115, 230, 0.5); /* Light blue shadow on focus */
}

.label_recently_deleted{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0 0 2.5%;
    width: 95%;
    text-align: center;
    font-size: 1.5rem;  
    font-family:'Times New Roman', Times, serif;
}
.label_recently_deleted label {
    padding: .5% 0 .5% 0;
    border-bottom: 2px solid black;
    color: red;
}