* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh;       
    margin: 0;
    background: linear-gradient(to bottom right, #ffcccc, #ccffff);   
}

.wrapper {
    width: 99vw;
    height: 95vh;
    border-radius: 50px;
    background-color: rgb(243, 239, 239);
    display: flex;
    border: solid 1px black;
}

.other-wrapper {
    height: 100%;
    width: 85%;
    border-radius: 0 50px 50px 0;
    display: flex; 
    flex-direction: column;
}

.header {
    box-sizing: border-box;
    width: 100%;
    height: 7.5%;
    border-radius: 0 50px 0 0;
    font-size: .8rem;
    display: flex;
    align-items: center;
    border-bottom: 3px gray solid;
}

.header h1 {
    padding-left: 3%;
}


.table-wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 95%;
    border: solid 2px black;
    height: 95%;
    background-color: white;
    overflow: auto; 
    position: relative;
}   

.table table {
    width: 100%;
    height: auto;
}

.table th {
    background-color: #4CAF50;
    color: black; 
    padding: 2px;
    height: 20px;
    text-align: center;
    border: solid 1px black;
    position: sticky;
    top: 0;
    max-width: 200px;
}

.table td {
    padding-left: 1%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: .9rem;
    max-width: 200px;
    height: 50px;
}

.form-sort {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 1% 0 0 0;
}

.sort-container{ 
    width: 50%;
    height: 4%;
    margin: 0 auto;
    margin-bottom: .5%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.sort-container label {
    font-weight: bold;
    margin-right: 1%;
}

.sort-container select {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin-right: 1%;
}

.sort {
    background-color: gray;
    box-shadow: 1px 1px 1px 1px black;
    border: 1px gray solid;
    color: white;
    cursor: pointer;
    width: 7%;
}

.search-container {
    width: 40%;
    height: 31px;
    margin: 0 auto;
    margin-bottom: .5%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.search {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    border: black solid 1px;
    padding-left: 10px;
}

.search-container label {
    margin-right: 2%;
}

.search-container button {
    margin-left: 1%;
    color: white;
    background-color: green;
    cursor: pointer;
    height: 70%;
    width: 10%;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: rgb(6, 68, 6);
}

.search:focus {
    box-shadow: 0 0 5px rgba(0, 115, 230, 0.5); /* Light blue shadow on focus */
}

.button-td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
    overflow-wrap: break-word;
}

.button-container {
    width: 30%; 
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.button-container button {
    height: 60%;
    width: 70%;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: solid 1px black;
    border-radius: 5px;
    overflow: hidden;
}

.button-container img {
    width: 100%;
    height: auto;
}

.show-confirmation {
    width: 100%;
    height: 4%;
    display: none;
}

.message {
    height: 75%;
    width: 30%;
    border: solid 1px black;
    display: flex; 
    text-align: center;
    justify-content: center; 
    margin: 0 auto;
    align-items: center;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(99, 98, 98);
    background-color: rgba(245, 245, 245, 0.541);
}

.message button {
    background-color: green;
    box-shadow: 1px 1px 1px 1px black;
    border: 1px green solid;
    color: white;
    cursor: pointer;
    margin-left: 3%;
    width: 13%;
}

.message p {
    font-style: italic;
}

.orange {
    width: 50%;
    height: 5px;
    background-color: orange;
}

.image-popup {
    display: none;
    border: solid 2px black;
    background-color: white;
    position: absolute;
    width: 50%;
    height: 70%;
    top: 15%;
    left: 25%;
}

.back-wrapper {
    border-bottom: 2px solid black;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #4CAF50;
}

.back-wrapper button {
    width: 7%;
    height: 100%;
    border: none;
    border-left: 2px black solid;
    background-color: #4CAF50;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.picture-wrapper {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-wrapper .image {
    width: auto;
    height: 100%;
}

